test-webservice/test-webservice-client/src/hellows.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. -->


<!--
	shecma约束
	
	用于请求：
		<sayHello>
			<arg0>string</arg0>
		</sayHello>
	
	用于响应：
		<sayHelloResponse>
			<return>string</return>
		</sayHelloResponse>
	
-->
<xs:schema xmlns:tns="http://ws.test.com/" 
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	version="1.0" 
	targetNamespace="http://ws.test.com/">

	<xs:element name="sayHello" type="tns:sayHello"/>

	<xs:element name="sayHelloResponse" type="tns:sayHelloResponse"/>

	<xs:complexType name="sayHello">
		<xs:sequence>
			<xs:element name="arg0" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="sayHelloResponse">
		<xs:sequence>
			<xs:element name="return" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>